# Ignore everything in data by default
data/*

# Allow the exofop_spectra directory
!data/exofop_spectra/
!data/exofop_spectra/**/

# Ignore everything else inside exofop_spectra
data/exofop_spectra/**

# But allow ONLY .fits files inside exofop_spectra
!data/exofop_spectra/**/*.fits

